@charset "UF8";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-cinza: #738290;
  --color-cinza-azulado: #a1b5d8;
  --color-branco-opaco: #fffcf7;
  --color-verde-musgo: #e4f0d0;
  --color-verde-claro: #c2d8b9;
  --recuo-padrao: 80%;
  --margin-padrao: 0 auto;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  font-family: Inter, sans-serif;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  width: 100%;
  height: 7rem; /* 70px*/
  background-color: var(--color-cinza);
  grid-area: header;
}

.header .container {
  height: 100%;
  width: var(--recuo-padrao);
  margin: var(--margin-padrao);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.header__img {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 100%;
}

.menu__mobile {
  max-width: 60rem;
  width: 100%;
}

.menu__toggle {
  display: none;
}

/* padrões */
.menu__a:hover {
  text-decoration: underline;
}

.no-visual__a {
  text-decoration: none;
  color: inherit;
}

.txt__cap {
  text-transform: capitalize;
}

.btn-cinza-azulado {
  /* padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center; 
   border: none;
  border-radius: 1rem;*/
  background-color: var(--color-cinza-azulado);
  font-weight: 500;
  max-width: 150px;
  width: 100%;
  color: white;
}

.btn-cinza-azulado:hover {
  background-color: var(--color-cinza);
}

.recado {
  font-size: 3rem;
  text-align: center;
  position: absolute;
  top: 50%;
}
/* fim padrões */

.menu > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.main {
  height: 100%;
  grid-area: main;
}

.container-orcamentos {
  background-color: #d9d9d9;
  min-height: 500px;
}

.title-orcamento {
  font-size: 3rem;
  text-align: center;
}

.titulo-PS{
  text-align: center;
  margin-top: 30px;
}

.imagem-PS{
  display: grid;
  grid-template-columns: repeat(3,minmax(150px,250px));
  gap: 20px;
  justify-content: space-evenly;
  margin: 70px 0;
}

.imagem-PS div{
  text-align: center;
}

.imagem-produto{
  max-width: 250px;
  min-width: 150px;
  width: 100%;
  /* margin: 30px; */
}

.imagem-produto img {
  width: 100%;
}

.container-forms {
  display: flex;
  height: 100%;
}

.logo {
  width: 70%;
  height: 100vh;
  background: var(--color-cinza-azulado);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > img {
  max-width: 450px;
  width: 100%;
}

.form__login {
  width: 30%;
  background-color: white;
  /* padding: 2rem 10rem; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__login div > img,
.form__registration div > img {
  display: none;
}

.form__registration .form_logo{
  display: flex;
  justify-content: center;
  grid-area: logo;
} 

.form__login form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: start;
  max-width: 300px;
  min-width: 200px;
  width: 100%;
}

.form-login__title {
  font-size: 2.5em;
  font-weight: bold;
}

.form-login__field {
  display: flex;
  flex-direction: column;
}

.form-login__field > label {
  text-transform: capitalize;
}

.form__registration form .form-login__field:nth-child(4) label,
.form__registration form .form-login__field:nth-child(6) label {
  text-transform: capitalize;
}

.form-login__input {
  padding: 0.5rem;
  background-color: lightgrey;
}

.form-login__submit,
.form-login__cadastro {
  align-self: center;
}

.form-login__cadastro:hover {
  text-decoration: underline;
  cursor: pointer;
}

.form__registration.disable {
  display: none;
}

.form__registration.enable {
  display: flex;
  height: 100%;
}

.form__registration {
  padding: 2rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100%;
  /* position: absolute;
  right: 0; */
}

.form__registration > div .form-registration__exit {
  position: absolute;
  top: 2rem;
}

.form-registration__exit:hover {
  cursor: pointer;
}

.form__registration form {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: auto;
  grid-template-areas:
    "title title title"
    "name surname ."
    "cpf phone ."
    "cep street number"
    "district city ."
    "email . ."
    "password confirmPassword ."
    "btns btns btns";
  gap: 2rem;
}

.form__registration h1 {
  grid-area: title;
  text-align: center;
  font-weight: bold;
}

.form__registration form .form-login__field:nth-child(3) {
  grid-area: name;
}

.form__registration form .form-login__field:nth-child(4) {
  grid-area: surname;
}

.form__registration form .form-login__field:nth-child(5) {
  grid-area: cpf;
}

.form__registration form .form-login__field:nth-child(6) {
  grid-area: phone;
}

.form__registration form .form-login__field:nth-child(7) {
  grid-area: cep;
}

.form__registration form .form-login__field:nth-child(8) {
  grid-area: street;
}

.form__registration form .form-login__field:nth-child(9) {
  grid-area: number;
  /* width: 50%; */
}

.form__registration form .form-login__field:nth-child(10) {
  grid-area: district;
}

.form__registration form .form-login__field:nth-child(11) {
  grid-area: city;
}

.form__registration form .form-login__field:nth-child(12) {
  grid-area: email;
}

.form__registration form .form-login__field:nth-child(13) {
  grid-area: password;
}

.form__registration form .form-login__field:nth-child(14) {
  grid-area: confirmPassword;
}

.form-registration__btns {
  grid-area: btns;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.container-carrosel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.carrosel__imgs {
  width: 100%;
  height: 100%;
  display: flex;
}

.carrosel__imgs img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.carrosel__titles {
  position: absolute;
  right: 50%;
  bottom: 15rem;
  transform: translateX(50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.carrosel__title,
.carrosel__text {
  color: var(--color-verde-claro);
}

.carousel-image {
  display: block;
  margin: 0px auto;
  height: 30vh;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.section__sobre__subtitle,
.section-sobre__title {
  text-align: center;
}

.section__sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0;
}

.section__items {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.section__item {
  max-width: 400px;
  min-width: 200px;
  padding: 5rem;
  width: 100%;
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.section__item:hover {
  transform: scale(1.2);
}

.section__item img {
  width: 100%;
  object-fit: contain;
}

.footer {
  height: 20rem;
  background-color: var(--color-cinza);
  color: white;
  grid-area: footer;
}

.footer .container {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  font-size: 14px;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer__info {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items: flex-start;
}

.footer-info__logo {
}

.footer-info__title {
  color: white;
  font-weight: 500;
  font-style: italic;
}

.footer__menu ul {
  list-style-type: none;
  display: flex;
  gap: 5rem;
}

.footer__icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 200px;
  min-width: 100px;
}

.password {
  padding-right: 25px;
  cursor: pointer;
}

.showpassword {
  background: none;
  width: max-content;
  cursor: pointer;
  justify-self: left;
}

@media screen and (max-width: 1800px) {
  .form__registration.enable,
  .logo,
  .form__login {
    width: 50%;
  }

  .form__registration form {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "logo logo"
      "title title"
      "name surname"
      "cpf phone"
      "cep street"
      "number district"
      "email city"
      "password confirmPassword"
      "btns btns";
    width: 500px;
  }
  /* .form__registration.enable {
    width: 100%;
  }

  .form__registration.enable div {
    width: 100%;
  } */
}

@media screen and (max-width: 1180px) {
  .logo {
    display: none;
  }

  .form__login {
    width: 100%;
  }

  .imagem-PS{
    grid-template-columns: repeat(2,minmax(150px,250px));
  }
  

  .form__login div > img,
  .form__registration div > img {
    display: block;
    max-width: 100px;
    min-width: 50px;
    width: 100%;
    margin: 0 0 20px 0;
  }

  .form__registration.enable {
    width: 100%;
  }
}

@media screen and (max-width: 860px) {
  .footer {
    height: 100%;
  }

  .footer .container {
    justify-content: center;
    flex-direction: column;
  }

  .footer__info {
    align-items: center;
  }

  .section__sobre {
    gap: 2rem;
  }

  .section__items {
    gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .imagem-PS{
    grid-template-columns: repeat(1,minmax(150px,250px));
  }

  .menu__toggle {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .menu {
    display: none;
  }

  .menu__mobile {
    width: auto;
  }

  .menu__mobile.open .menu__toggle {
    display: flex;
    justify-content: flex-end;
    margin: var(--margin-padrao);
    margin-top: 2rem;
    padding-top: 2rem;
    padding: var(--margin-padrao);
    width: var(--recuo-padrao);
  }

  .menu__mobile.open {
    background-color: var(--color-cinza);
    height: 100vh;
    left: 0;
    max-width: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .menu__mobile.open .menu {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 80vh;
  }

  .menu__mobile.open .menu ul {
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    font-size: 1.5em;
  }

  .footer__menu ul {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .form__registration form {
    grid-template-columns: minmax(200px, 500px);
    grid-template-areas:
      "logo"
      "title"
      "name"
      "surname"
      "cpf"
      "phone"
      "cep"
      "street"
      "number"
      "district"
      "email"
      "city"
      "password"
      "confirmPassword"
      "btns";
    width: 100%;
  }
}
