@charset "UF8";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-cinza: #738290;
  --color-cinza-azulado: #a1b5d8;
  --color-branco-opaco: #fffcf7;
  --color-verde-musgo: #e4f0d0;
  --color-verde-claro: #c2d8b9;
  --recuo-padrao: 80%;
  --margin-padrao: 0 auto;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Inter, sans-serif;
}

.header {
  width: 100%;
  height: 7rem; /* 70px*/
  background-color: var(--color-cinza);
}

.header .container {
  height: 100%;
  width: var(--recuo-padrao);
  margin: var(--margin-padrao);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.header__img {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 100%;
}

.menu__mobile {
  max-width: 40rem;
  width: 100%;
}

.menu__toggle {
  display: none;
}

.header-menu__a:hover {
  text-decoration: underline;
}

/* padrões */
.no-visual__a {
  text-decoration: none;
  color: inherit;
}

.txt__cap {
  text-transform: capitalize;
}

.btn-cinza-azulado {
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-cinza-azulado);
  max-width: 100px;
  width: 100%;
  border: none;
  border-radius: 1rem;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

.btn-cinza-azulado:hover {
  background-color: var(--color-cinza);
}

.recado {
  font-size: 3rem;
  text-align: center;
  position: absolute;
  top: 50%;
}
/* fim padrões */

.menu > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.main {
}

.container__logo {
  display: flex;
}

.logo {
  width: 70%;
  height: 100vh;
  background: var(--color-cinza-azulado);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10rem;
}

.logo > img {
  max-width: 450px;
  width: 100%;
}

.form__login {
  width: 30%;
  background-color: white;
  padding: 2rem 10rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__login > img {
  display: none;
}

.form__login form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: start;
  max-width: 300px;
  min-width: 200px;
  width: 100%;
}

.form-login__title {
  font-size: 2.5em;
}

.form-login__field {
  display: flex;
  flex-direction: column;
}

.form-login__field > label {
  text-transform: capitalize;
}

.form-login__input {
  padding: 0.5rem;
  background-color: lightgrey;
}

.form-login__submit,
.form-login__cadastro {
  align-self: center;
}

.form-login__cadastro:hover {
  text-decoration: underline;
}
/* 
.form__registration.disable {
  display: none;
} */

.form__registration {
  width: 40%;
  height: 100vh;
  position: absolute;
  left: 0;
}

.form__registration form {
  display: grid;
  grid-template-columns: 250px 250px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". title ."
    "name surname ."
    "cpf . ."
    "cep street number"
    "district city ."
    "email . ."
    "password confirmPassword ."
    ". btns .";
  gap: 1rem;
}

.form__registration > h1 {
  grid-area: title;
  text-align: center;
}

.form__registration > form .form-login__field:nth-child(1) {
  grid-area: name;
}

.form__registration > form .form-login__field:nth-child(2) {
  grid-area: surname;
}

.form__registration > form .form-login__field:nth-child(3) {
  grid-area: cpf;
}

.form-login__field:nth-child(3) > label {
  text-transform: uppercase;
}

.form__registration > form .form-login__field:nth-child(4) {
  grid-area: cep;
}

.form__registration > form .form-login__field:nth-child(5) {
  grid-area: street;
}

.form__registration > form .form-login__field:nth-child(6) {
  grid-area: number;
}

.form__registration > form .form-login__field:nth-child(7) {
  grid-area: district;
}

.form__registration > form .form-login__field:nth-child(8) {
  grid-area: city;
}

.form__registration > form .form-login__field:nth-child(9) {
  grid-area: email;
}

.form__registration > form .form-login__field:nth-child(10) {
  grid-area: password;
}

.form__registration > form .form-login__field:nth-child(11) {
  grid-area: confirmPassword;
}

.form-registration__btns {
  grid-area: btns;
  display: flex;
}

.container-carrosel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.carrosel__imgs {
  width: 100%;
  height: 100%;
  display: flex;
}

.carrosel__imgs img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.carrosel__titles {
  position: absolute;
  right: 50%;
  bottom: 15rem;
  transform: translateX(50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.carrosel__title,
.carrosel__text {
  color: var(--color-verde-claro);
}

.carousel-title{
  font-family: 'Open Sans';
  font-size: 35px;
  line-height: 48px;
  margin-block-end: 10vh;
  text-align: center;
  color: #000000;
}

.carousel-image{
  display: block;
  margin: 0px auto;
  height: 30vh; 
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.carousel-cell{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 4vh;
  line-height: 4vh;
  text-align: center;
  color: #000000;
  margin-block-end: 3vh;
}

.footer {
  height: 20rem;
  background-color: var(--color-cinza);
}

.footer-cell{
  color: white;
  font-weight: 500;
  font-style: italic;
}

@media screen and (max-width: 1024px) {
  .logo,
  .form__login {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .menu__toggle {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .menu {
    display: none;
  }

  .menu__mobile {
    width: auto;
  }

  .menu__mobile.open .menu__toggle {
    display: flex;
    justify-content: flex-end;
    margin: var(--margin-padrao);
    margin-top: 2rem;
    padding-top: 2rem;
    padding: var(--margin-padrao);
    width: var(--recuo-padrao);
  }

  .menu__mobile.open {
    background-color: var(--color-cinza);
    height: 100vh;
    left: 0;
    max-width: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .menu__mobile.open .menu {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 80vh;
  }

  .menu__mobile.open .menu ul {
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    font-size: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }

  .form__login {
    width: 100%;
  }

  .form__login > img {
    display: block;
    max-width: 100px;
    min-width: 50px;
    width: 100%;
    position: absolute;
    top: 20%;
  }
}
